body {
	height : 125vh;
	background-image : url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
	background-size : cover;
	font-family : sans-serif;
	margin-top : 0;
	padding : 0px;
}
nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	
}

nav ul ul {
	display: none;
}


	nav ul li:hover > ul {
		display: block;
	}

nav ul li a {
	display : block;
	padding : 25px 40px;
	color : #6432FF;
	text-decoration : none;
}
nav ul {
	background : linear-gradient(120deg, #63b9c7, #63c79a, #fadbbb);
	box-shadow : 0 0 9px rgb(0, 0, 0, 0.15);
	padding : 0 20px;
	border-radius : 10px;
	list-style : none;
	position : fixed;
	display : inline-table;
	z-index: 3;
	text-align:center;
	left: 35;
}
nav ul:after {
	content : "";
	clear : both;
	display : block;
}
nav ul li {
	float : left;
}
nav ul li:hover {
	background : #49a09d;
}
nav ul li:hover a {
	color : #fff;
}
}

nav ul li a {
	display : block;
	padding : 25px 40px;
	color : #000000;
	text-decoration : none;
	position; relative;
	
}
nav ul ul li {
	float : none;
	border-top : 0.5px solid #000000;
	border-bottom : 0.5px solid #000000;
	position : relative;
}
nav ul ul li a {
	padding : 15px 40px;
	color : #fff;
}
nav ul ul li a:hover {
	background : linear-gradient(#49a09d);
	box-shadow : 0 0 11px rgb(0, 0, 0, 11);
	position: relative;
}
nav ul ul ul {
	position : relative;
	left : 100%;
	top : 0;
}


}:root
  font-size: 14px;
  font-family: 'Open Sans';
  --text-primary: #ffffff;
  --text-secondary: #ececec;
  --bg-primary: #63c79a;
  --bg-secondary: #63c79a;
  --transition-speed: 500ms;
}

body {
  color: black;
  background-color: white;
}

body::-webkit-scrollbar {
  width: 0.50rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #63c79a;
}


.nav-link {
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

  .logo {
    display: none;
  }

  main {
    margin: 0;
  }
}

#all{
    width:100%;
    float:left;
    text-align:center;
}
div.sub, iframe {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color: #777;

}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
			
			
			
			
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-elliptic-top-fwd 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
}

main {
    flex: 1;
}

.main-header {
  font-size: 50;
  
  height: 60px;
  padding: 90px;
  border-radius : 10px;
  text-align: center;
  background: linear-gradient(120deg, #63b9c7, #63c79a, #fadbbb);
  color: white;
  z-index: 3;
  position: absolute;
	top: 90;	
	width: 1160;
}


.sec-header {
  height: 30px;
  padding: 90px;
  border-radius : 10px;
  text-align: center;
  background: linear-gradient(120deg, #63b9c7, #63c79a, #fadbbb);
  color: white;
    opacity: 85%;
  z-index: 1;
  position: absolute;
	top: 340;	
}

.th-header {
  height: 30px;
    width: 350px ;
  padding: 90px;
  border-radius : 10px;
  text-align: center;
  background: linear-gradient(120deg, #63b9c7, #63c79a, #fadbbb);
  color: white;
  z-index: 1;
  opacity: 85%;
  position: absolute;
	top: 340;	
	left: 420;
}

.fh-header {
  height: 30px;
  width: 200px ;
    opacity: 85%;
  padding: 90px;
  border-radius : 10px;
  text-align: center;
  background: linear-gradient(120deg, #63b9c7, #63c79a, #fadbbb);
  color: white;
  z-index: 1;
  position: absolute;
	top: 340;	
	right: 12;
}





.leftcolumn {
  float: left;
  width: 75%;
}


.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

*/
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer-fs {
	height: -20px;
  width: 500px ;
    opacity: 85%;
  padding: 10px;
  border-radius : 10px;
  text-align: center;
  background: linear-gradient(120deg, #63b9c7, #63c79a, #fadbbb);
  color: white;
  z-index: 1;
  position: absolute;
	bottom: -150;	
	right: 425;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
