body {
	height : 125vh;
	background-image : url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
	background-size : cover;
	font-family : sans-serif;
	margin-top : 0;
	padding : 1px;
}
nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	
}

nav ul ul {
	display: none;
}


	nav ul li:hover > ul {
		display: block;
	}

nav ul li a {
	display : block;
	padding : 25px 40px;
	color : #6432FF;
	text-decoration : none;
}
nav ul {
	background : linear-gradient(120deg, #63b9c7, #63c79a, #fadbbb);
	box-shadow : 0 0 9px rgb(0, 0, 0, 0.15);
	padding : 0 20px;
	border-radius : 10px;
	list-style : none;
	position : relative;
	display : inline-table;
}
nav ul:after {
	content : "";
	clear : both;
	display : block;
}
nav ul li {
	float : left;
}
nav ul li:hover {
	background : #49a09d;
}
nav ul li:hover a {
	color : #fff;
}
nav ul li a {
	display : block;
	padding : 25px 40px;
	color : #000000;
	text-decoration : none;
}
nav ul ul {
	background : linear-gradient(120deg, #63b9c7, #63c79a, #fadbbb);
	border-radius : 0;
	padding : 0;
	position : absolute;
	top : 100%;
}
nav ul ul li {
	float : none;
	border-top : 0.5px solid #000000;
	border-bottom : 0.5px solid #000000;
	position : relative;
}
nav ul ul li a {
	padding : 15px 40px;
	color : #fff;
}
nav ul ul li a:hover {
	background : linear-gradient(#49a09d);
	box-shadow : 0 0 11px rgb(0, 0, 0, 11);
}
nav ul ul ul {
	position : absolute;
	left : 100%;
	top : 0;
}

#all{
    width:100%;
    float:left;
    text-align:center;
}
div.sub, iframe {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color: #777;

}

